[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/plugins/gravityforms"]
	path = content/plugins/gravityforms
	url = git://github.com/alpha-social-club/gravityforms.git
[submodule "content/plugins/gravityformsuserregistration"]
	path = content/plugins/gravityformsuserregistration
	url = git@github.com:alpha-social-club/gravityformsuserregistration.git
