/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 380 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/



/*
.just_an_example {
	color: black;
}
*/



/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {

	.modal-backdrop{display:none; visibility:hidden;}
	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 380 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 380px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */

.page-id-36 #content .entry-header .entry-title {
	display: none;
}

#label_4_8_1 .gfield_required {
	font-weight: bold;
}

#field_4_8 .gfield_label .gfield_required,
#field_4_15 .gfield_label .gfield_required
 {
	display: none;
}

#gf_page_steps_4 {
	display: none;
}

.registration-form-text,
#input_4_4_1_container label,
#input_4_4_2_container label {
	font-family: "Verdana",sans-serif;
	font-size: 13px;
	color: #333;
	letter-spacing:0px;
}

.red-data {
	font-weight: bold;
	color: red;
}

.page-id-36 #gform_previous_button_4 {
	display: none;
}

.member-online {
	display: none;
}

.member-online .icon {
	background-image: url('../images/icons/user_online.png');
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	float:left;
}

.member-offline .icon {
	background-image: url('../images/icons/user_offline.png');
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	float:left;
}

.action {
	display: none;
}

.alert-content {
	font-size: 16px;
}

.alert-content p{
	margin:0px;
}

#invitation-code-modal .modal-header,
#invitation-code-modal .modal-footer {
	border:0px;
}

#invitation-code-modal {
	font-family: "Verdana",sans-serif;
	font-size: 16px;
}

#modal-code {
	text-align: center;
	font-size: 24px;
	font-weight:bold;
}

.profile-fields .label {
	color: #555;
	display: table-cell;
	text-align: left;
}

.alphasss-tooltip {
	background-image: url('../images/icons/question.png');
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	float:right;
}

#profile-view .profile-fields {
 border: none;
}

#profile-view .profile-fields td {
 border: none;
}

#profile-view .profile-fields td.label {
 border: none;
}

#profile-view .alphasss-tooltip,
#profile-edit-form .alphasss-tooltip {
    float: left;
    cursor: pointer;
}

#profile-view .profile-fields td ul,
#profile-edit-form label ul,
.profile-edit-list {
 margin: 0;
}

#profile-view .profile-fields td ul li,
#profile-edit-form label ul li,
.profile-edit-list li {
 display: inline-block;
 margin: 0;
 vertical-align: middle;
}

.profile-edit-list>li:first-child {
 width: 25%;
}

#profile-edit-form ul li {
 font-size: 12px;
 padding: 6px 0 6px 6px !important;
 color: #555;
}

#profile-edit-form label ul li:last-child {
 padding: 0 !important;
}

.profile-error {
	background-color: #ffdfe0;
    border-bottom: 1px solid #c89797;
    border-top: 1px solid #c89797;
    margin-bottom: 6px !important;
    padding: 6px 6px 4px !important;
}

#profile-edit-form {
	width:75%;
}

#profile-edit-form input[type='text'],textarea {
	width: 100% !important;
}
